<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple E-commerce</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">Welcome to our antique shop, where you'll find a treasure trove of unique and fascinating items from times gone by. Our shop is dedicated to providing customers with an exceptional shopping experience, as we strive to curate a collection that is both diverse and authentic.

  We believe that antiques hold a special place in our hearts, as they are a link to our past and a way to connect with previous generations. Each item in our shop tells a story, and we take great pride in offering a wide variety of items that span different eras and styles.
  
  Our team of experts has a passion for antiques, and we have spent years honing our skills in identifying and appraising items. We work tirelessly to ensure that our collection is genuine and of the highest quality, so you can shop with confidence knowing that you're getting a piece of history that has stood the test of time.
  
  Whether you're a seasoned collector or a curious newcomer to the world of antiques, we are confident that you'll find something special in our shop. From vintage furniture to delicate porcelain figurines, we have something for everyone. We also offer a range of services, including restoration and appraisal, so you can keep your beloved antiques in pristine condition.
  
  At our antique shop, we believe that shopping should be an adventure, and we are committed to providing a unique and memorable experience for every customer. So come on in and explore our collection – we can't wait to show you what we've got! </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>


</html>
